In [1]:
import pandas as pd
import numpy as np

In [2]:
movie = pd.read_csv('tmdb_5000_movies.csv')
credit = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movie.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

* required columns
  * genres,id,keyword,title,overveiw,tagline

In [4]:
# movie.info()
movie = movie[['id','genres','title','overview']]
movie.head()

,id,genres,title,overview
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Spectre,A cryptic message from Bond’s past sends him o...
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",John Carter,"John Carter is a war-weary, former military ca..."

In [5]:
credit.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
credit = credit.drop(columns='title')
credit.head(2)

,movie_id,cast,crew
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [7]:
credit.rename(columns={'movie_id':'id'},inplace=True)

In [8]:
df = movie.merge(credit,on='id')

In [9]:
#id title and tages

In [10]:
import ast
col_haiving_str = ['genres','cast','crew']
def reomve_str(txt):
    return ast.literal_eval(txt)
    
for col in col_haiving_str:
    df[col] = df[col].apply(reomve_str)

In [11]:
df.head()
df.iloc[0]['genres']

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [12]:
def genre_short(txt):
    l = []
    for d in txt:
        l.append(d['name'])
    return l

df['genres'] = df['genres'].apply(genre_short)
df['genres'].head()

0    [Action, Adventure, Fantasy, Science Fiction]
1                     [Adventure, Fantasy, Action]
2                       [Action, Adventure, Crime]
3                 [Action, Crime, Drama, Thriller]
4             [Action, Adventure, Science Fiction]
Name: genres, dtype: object

In [13]:
df.iloc[0]['cast']
def cast_short(txt):
    l = []
    count = 0
    for d in txt:
        if count!=3:
            l.append(d['name'])
    return l

df['cast'] = df['cast'].apply(cast_short)
df['cast'].head()

0    [Sam Worthington, Zoe Saldana, Sigourney Weave...
1    [Johnny Depp, Orlando Bloom, Keira Knightley, ...
2    [Daniel Craig, Christoph Waltz, Léa Seydoux, R...
3    [Christian Bale, Michael Caine, Gary Oldman, A...
4    [Taylor Kitsch, Lynn Collins, Samantha Morton,...
Name: cast, dtype: object

In [14]:
df.iloc[0]['crew']
def get_director(txt):
    l = []
    for d in txt:
        if d['job']=='Director':
            l.append(d['name'])
    return l

df['crew'] = df['crew'].apply(get_director)

In [15]:
df.head()

,id,genres,title,overview,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,"[Action, Adventure, Crime]",Spectre,A cryptic message from Bond’s past sends him o...,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,"[Action, Adventure, Science Fiction]",John Carter,"John Carter is a war-weary, former military ca...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [16]:
df.dropna(axis=0,inplace=True)
print('done')

done

In [17]:
def str_to_lst(txt):
    return txt.split()
    
df['overview'] = df['overview'].apply(str_to_lst)
df['overview'].head()

0    [In, the, 22nd, century,, a, paraplegic, Marin...
1    [Captain, Barbossa,, long, believed, to, be, d...
2    [A, cryptic, message, from, Bond’s, past, send...
3    [Following, the, death, of, District, Attorney...
4    [John, Carter, is, a, war-weary,, former, mili...
Name: overview, dtype: object

In [18]:
def remove_space(txt):
    l = []
    for s in txt:
        l.append(s.replace(' ','_'))
    return l

df['genres'] = df['genres'].apply(remove_space)
df['cast'] = df['cast'].apply(remove_space)
df['crew'] = df['crew'].apply(remove_space)

In [19]:
df['tags'] = df['genres']+df['cast']+df['crew']+df['overview']

In [20]:
df.drop(columns=['genres','cast','crew','overview'],inplace=True)

In [21]:
# df.iloc[0]['tags']

In [22]:
# df.iloc[0]['tags']

In [23]:
from nltk.stem.porter import PorterStemmer
pt = PorterStemmer()

def root_word(txt):
    l = []
    for word in txt:
        l.append(pt.stem(word))
    return " ".join(l)

df['tags'] = df['tags'].apply(root_word)

In [24]:
df.head()

,id,title,tags
0,19995,Avatar,action adventur fantasi science_fict sam_worth...
1,285,Pirates of the Caribbean: At World's End,adventur fantasi action johnny_depp orlando_bl...
2,206647,Spectre,action adventur crime daniel_craig christoph_w...
3,49026,The Dark Knight Rises,action crime drama thriller christian_bal mich...
4,49529,John Carter,action adventur science_fict taylor_kitsch lyn...

In [25]:
data_frame = df

In [26]:
data_frame.head()

,id,title,tags
0,19995,Avatar,action adventur fantasi science_fict sam_worth...
1,285,Pirates of the Caribbean: At World's End,adventur fantasi action johnny_depp orlando_bl...
2,206647,Spectre,action adventur crime daniel_craig christoph_w...
3,49026,The Dark Knight Rises,action crime drama thriller christian_bal mich...
4,49529,John Carter,action adventur science_fict taylor_kitsch lyn...

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features=2000,lowercase=True,stop_words='english')
data_arr = vectorizer.fit_transform(data_frame['tags'])

In [28]:
data_arr.toarray()
print()

In [29]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(data_arr)

In [30]:
similarity[0]

array([1.        , 0.04189846, 0.02193355, ..., 0.        , 0.        ,
       0.        ], shape=(4800,))

In [31]:
def recommend_movie(movie):
    movie_index = data_frame[data_frame['title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_lst = sorted(list(enumerate(distances)),reverse=True,key=(lambda x: x[1]))
    five_movie = movie_lst[1:6]

    for i in five_movie:
        print(data_frame.iloc[i[0]]['title'])

In [32]:
recommend_movie('Avatar')

Apollo 18
The Book of Life
Predator
Aliens
Mission: Impossible III

In [33]:
data_frame.head()
print('hello')

hello

In [34]:
import pickle

In [37]:
pickle.dump(similarity,open('similarity_arr.pkl','wb'))
pickle.dump(vectorizer,open('vectorizer_tf.pkl','wb'))
data_frame.to_csv('movies_data.csv',index=False)